runs/*
*.pyc
evaluate/ddp/trace/*
evaluate/ddp/res/*.md
evaluate/single/trace/*
evaluate/single/res/*.md

model/__pycache__/__init__.cpython-38.pyc
model/__pycache__/FGPT.cpython-38.pyc
evaluate/single/res/benchmark_results.json
evaluate/ddp/res/benchmark_results.json
