runs/*
*.pyc
evaluate/ddp/trace/*
evaluate/ddp/res/*.md
evaluate/single/trace/*
evaluate/single/res/*.md

model/__pycache__/__init__.cpython-38.pyc
model/__pycache__/FGPT.cpython-38.pyc
data/wiki_zh
data/wiki_zh1